body *{
    transition: 0.3s;
}

.slogan {
    font-size: 7vw;
    padding-left: 10%;
}

.shadows {
    border-radius: 10rem;
    box-shadow: 0 0 50rem 15rem #075D17;
    background-color: #075D17;
    width: 0;
    height: 0;
    position: absolute;
}

@media screen and (max-width:768px) {
    .slogan {
        font-size: 9vw;
        padding: 0;
        text-align: center;
    }
    .shadows{
        box-shadow: 0 0 25rem 12rem #075D17;
        background-color: #075D17;
    }
}